<h1>Bienvenido a la aerolinia </h1>
<ul>
<li><%= link_to 'Pasajeros', new_passenger_path %></li>

<li><%= link_to 'Pilotos', new_pilot_path %></li>

<li><%= link_to 'Rutas de Viaje', new_route_path %></li>
<li><%= link_to 'Aviones', new_airplane_path %></li>

</ul>